<div class="container mt-3">
  <h1>Add Review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
  <% end %>
  <%= link_to "See all restaurants", restaurants_path %>
</div>
